.image-gallery{
    max-height: 75vh;
    margin: 1rem 2rem;
    overflow: auto;
    scroll-behavior: smooth;
    .gallery-header{
        color: rgb(255, 116, 116);
        text-align: center;
    }
    .gallery-body{
        .uploaded_image{
            border-radius: 12px;
            max-width: 45%;
            min-width: 40%;
            margin: 5px;
            padding: 10px;
            height: 150px;
            box-shadow: rgba(255, 131, 131, 0.35) 1.95px 1.95px 2.6px;
        }
    }
}
.sample_image{
    text-align: center;
    h5{
        color: #998CEB;
    }
}