.image-gallery{
    .gallery-header{
        // border-bottom: 1px solid #b4b4b4be;
        // border-top: 1px solid #b4b4b4be;
        color: #F9476C;
        text-align: center;
    }
    .uploaded_image{
        border: 2px solid #F9476C;
        display: inline-block;
        width: 200px;
        height: 200px;
    }
}
